extends ../base.pug

block content
    form(method="POST" enctype="multipart/form-data").form_container
        div.form_file_div
            span File
            input(name="video" type="file" accept="video/*" id="video" required)
        div.form_input_div
            span Title
            input(name="title" type="text" placeholder="Title" required)
        div.form_input_div
            span Description
            textarea(name="description" type="text" rows="7" placeholder="Description" minlength="10" required)
        div.form_btn_div
            button(type="submit" ) Upload