extends ../base.pug

block content 
    div.video_detail_container#videoContainer
        video(src=video.fileURL)
        div#videoController
            input(type="range" step="1" value=0 min=0)#timeLine
            div.videoController_under_div
                div.video_first_div
                    i#playPauseBtn.fas.fa-play
                    span#currentTime 00:00:00
                    span / 
                    span#totalTime 00:00:00
                div.video_second_div
                    input(type="range" step="0.1" value="0.5" min="0" max="1")#volumeRange
                    i#volume.fas.fa-volume-up
                    button#fullScreenBtn.fas.fa-expand
    div.video_detail_info
        div.video_detail_title
            h1=video.title
        div.video_detail_owner
            div.video_detail_owner_avatar
            div.video_detail_owner_info
                span 소유주
                small 구독자 1270B
            div.video_detail_control
                if user._id == video.owner
                    div.video_link_btn
                        a(href=`/videos/${video._id}/edit`) Video Edit &rarr;
                    div.video_link_btn
                        a(href=`/videos/${video._id}/delete`) Video Delete &rarr;
    script(src="/assets/js/video.js") 
