mixin video(video)
    a(href=`/videos/${video._id}`).video_container
        div.video_thumbnail
        div.video_detail
            div
                div.uploader_avatar
            div.video_info
                span.video_title=video.title
                small 소유
                small 조회수 8시간 전