@import "./config/reset.scss";
@import "./config/variable.scss";
//partial
@import "./components/header.scss";
@import "./components/video.scss";
@import "./components/container.scss";
@import "./components/comment.scss";
//video
@import "./videos/home.scss";
@import "./videos/watch.scss";
//users
@import "./user/profile.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: $bg;
  color: whitesmoke;
}

main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
