doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | MYTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css") 
    body
        include partials/header
        main
            block content