/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap);
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss (1) ***!
  \**************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap);
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss (2) ***!
  \**************************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
header nav div {
  width: 33%;
}

.homeBtn {
  font-size: 35px;
  color: #cc0d00;
}
.homeBtn a {
  display: flex;
  align-items: center;
}

.home-text {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: whitesmoke;
  margin-left: 2px;
}

.search {
  position: relative;
  height: 35px;
  border-radius: 50px;
  border: 1px solid gray;
  overflow: hidden;
}
.search input {
  width: 100%;
  height: 100%;
  padding: 1px 8px;
  outline: none;
  border: none;
  background-color: #0e1117;
  color: whitesmoke;
}
.search button {
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0px;
  border: none;
  outline: none;
  background: none;
  background-color: gray;
}
.search button i {
  color: whitesmoke;
  font-size: medium;
}

.navBtn {
  display: flex;
  justify-content: end;
}
.navBtn a {
  margin: 0px 5px;
  font-family: "Roboto", sans-serif;
}
.navBtn a:hover {
  color: gray;
  transition: all 0.2s ease-in-out;
}

@keyframes errorAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.error-message {
  position: absolute;
  text-align: center;
  top: 55px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 100px;
  padding: 5px 10px;
  background-color: pink;
  width: 200px;
  color: black;
  font-weight: 600;
  animation: errorAnimation 0.5s ease-in-out forwards;
  animation-delay: 5s;
}

.video_thumbnail {
  width: 360px;
  height: 200px;
  background-color: beige;
  border-radius: 12px;
  margin-bottom: 8px;
}

.videos_div {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .videos_div {
    grid-template-columns: 1fr 1fr;
  }
  .videos_div .video_container {
    grid-column: 1/2;
  }
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0e1117;
  color: whitesmoke;
}

main {
  margin: 25px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
