header
    nav 
        div.homeBtn
            a(href="/")
                i.fab.fa-youtube 
                span.home-text MyTube
        form(method="POST").search
            input(name="keyword" required type="text" placeholder="검색어를 입력하세요")
            button(type="submit")
                i.fas.fa-search
        if loggedIn
            div.navBtn
                a(href="/videos/upload")  Upload
            
                a(href="/users/profile")  Profile
            
                a(href="/users/logout")  Logout
        else
            div.navBtn
                a(href="/users/join") Join 
                
                a(href="/users/login") Login
    if errorMessage 
        div.error-message 
            h2=errorMessage
