header 
    nav 
        ul
            if loggedIn
                li
                    a(href="/")  Upload Video 
                li
                    a(href="/")  Upload Video 
                li
                    a(href="/")  Profile
                li
                    a(href="/")  Logout
                
            else
                li 
                    a(href="/users/join") Join 
                li 
                    a(href="/users/login") Login 
