extends ../base.pug

block content 
    form(method ="POST").form_container
        div.form_input_div
            span Username
            input(name="username" type="text" required placeholder="Username")
        div.form_input_div
            span E-mail
            input(name="email" type="email" required placeholder="E-mail")
        div.form_input_div
            span Password
            input(name="password" type="password" required placeholder="Password")
        div.form_input_div
            span Confrim Password
            input(name="confirmPassword" type="password" required placeholder="Password confirm")
        div.form_btn_div
            button(type="submit") Join 
