extends ../base.pug

block content 
    form(method = "POST")
        input(name="currentPassword" type="password" placeholder="Current Password")
        input(name="newPassword" type="password" placeholder="New Password")
        input(name="confirmPassword" type="password" placeholder="Password Confrim")
        input(type="submit")