extends ../base.pug

block content
    div.form_container
        div.container_div 
            span Username :
            span=user.username
        div.container_div
            span E-mail :
            span=user.email
        a(href="/users/profile/edit").container_link_btn  Edit Profile  &rarr;
        a(href="/users/profile/passedit").container_link_btn  Password Edit &rarr;
